<div class="m-5">
  <h1 class="font-weight-bold text-center p-3 h1">EDITAR CARTA</h1>
  <%= simple_form_for @phrase, html: { class: "results row justify-content-around"} do |f| %>
    <div class='col-12'>
      <%= f.input :question, label: "Qual é a pergunta?" %>
      <%= f.input :answer, label: "Resposta?" %>
      <%= f.input :link, label: "Link?" %>
      <%= f.input :sentence, label: "Sentença?" %>
      <%= f.button :submit, "EDITAR CARTA", class: "btn btn-outline-danger m-2"%>
    </div>
  <% end %>
  <div>
    <%= simple_form_for @phrase, :url => add_image_attachment_phrase_url(@phrase), html: { class: "mt-2"} do |f| %>
      <%= f.input :photos, label: "ADICIONAR ARQUIVO", input_html: { multiple: true } %>
      <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
    <% end %>
  </div>
  <div>
    <% @phrase.photos.each_with_index do |photo, idx| %>
      <%= link_to delete_image_attachment_phrase_url(@phrase, photo.signed_id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, title: photo.filename  do %>
        <i class="fas fa-trash-alt pt-0 pl-1 pr-1 pb-2 p-show"></i>
      <% end %>
      <%= cl_image_tag photo.key, class: "photo_small" %>
    <% end %>
  </div>
  <%= link_to "Deletar Carta", phrase_path(@phrase), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger m-0" %>
</div>
